
/*-------------CORES----------*/

.red {
    color: #CD150B ;
}

.green {
    color: #06AA48;
}

.orange {
    color: #FF8203;
}

.top-content {
    width: 1145px;
    height: 103px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.top-content > img {
    height: 60px;
    width: 97px;
}

.horizontal-separator {
    height: 1px;
    width: 100%;
    background: #E6E6E6;
}

.vertical-separator {
    width: 1px;
    height: 100%;
    background: #E6E6E6;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1145px;
    height: 700px;
    margin-top: 20px;
}

.g1 {
    width: 300px;
}

.ge {
    width: 300px;
}

.ge > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ge img, .ent img {
    height: 118px;
    width: 235px;
    border-radius: 4px;
}

.ent {
    width: 300px;
}