
/*-------------CORES----------*/

.red {
    color: #CD150B ;
}

.green {
    color: #06AA48;
}

.orange {
    color: #FF7F00;
}

.blue {
    color: #0769DE;
}

.grey {
    color: #666
}
/*--------------------------------*/

.body {
    font-family: 'Open sans';
}

.top-content {
    width: 1145px;
    height: 103px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 19px;
}

.top-content > img {
    height: 60px;
    width: 97px;
}

.horizontal-separator {
    height: 1px;
    width: 100%;
    background: #E6E6E6;
}

.vertical-separator {
    width: 1px;
    height: 100%;
    background: #E6E6E6;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1145px;
    height: 700px;
    margin-top: 20px;
}

h1{
    font-size: 52px;
    font-weight: bold;
    font-family: open sans;
    letter-spacing: -0.5px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    font-family: open sans;
    letter-spacing: -0.6px;
}

.g1 {
    width: 52%;
}

.g1-sub {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.g1-sub > div {
    margin-top: 15px;
    width: 171px;
    height: 187px;
}

.g1-sub h2 {
    margin-top: 5px;
    font-size: 15px;
}

.g1-sub h3 {
    margin-top: 5px;
    font-size: 14px;
}

.g1-sub img {
    height: 96px;
    border-radius: 4px;
}

.ge, .ent {
    width: 20%;
}

.ge > div, .ent > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
}

.ge img, .ent img {
    height: 118px;
    width: 235px;
    border-radius: 4px;
}

